<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Bro</title>
    <meta name=”description” content=”Building websites in React, Typescript, THREE.js and Node.js.”>
    <meta name="author" content="Andrew Bryson">
    <meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
    <meta property="og:image:secure_url" content="http://codebro.io/images/general/logo.png"/>
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link async=true href="https://fonts.googleapis.com/css?family=Palanquin+Dark|Carrois+Gothic" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?v=2">
    <link rel="stylesheet" type="text/css" href="/components.css">
  </head>
  <body>
    <div id="root"><%- renderedRoot %></div>
    <script src="/client.js"></script>
  </body>
</html>
